.calculator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10vh;
	height: 50vh;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}

.calculator > .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 95vw;
}

.calculator > .container h2 {
	text-align: center;
	margin-bottom: 20px;
	color: black;
}

.calculator > .container .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	width: 90%;
}

.calculator > .container .row label {
	font-weight: bold;
	flex: 0 0 100px;
}

.calculator > .container .row input {
	flex: 1;
	padding: 6px;
	font-size: 16px;
	text-align: right;
	border: 1px solid #ccc;
	border-radius: 6px;
}

.calculator > .container .row span {
	flex: 1;
	padding: 6px;
	font-size: 16px;
	text-align: right;
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 6px;
}
