.header {
	width: 100%;
	height: 10vh;
	background-color: white;
	position: fixed;
	z-index: 9999;
	border-bottom: solid;
	border-width: 6px;
	border-color: steelblue;
}

.header a {
	color: black;
	text-decoration: none;
}

.header a:hover,
.header a:hover b,
.header a:hover * {
	color: steelblue;
}

.header ul {
	position: absolute;
	right: 0.5em;
	top: 0;
	line-height: 10vh;
}

.header li {
	background-color: transparent;
	font-size: 24px;
	display: inline;
	margin: 0;
	padding: 0.5em;
}

.logo b,
.logo strong {
	color: steelblue;
	font-size: 48px;
	position: absolute;
	left: 1em;
	line-height: 10vh;
}

ul .dropdown {
	display: none;
	width: 6em;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: white;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	padding: 0;
	margin: 0;
	z-index: 1000;
	border: solid;
	border-width: 2px;
	border-color: #f9f9f9;
}

.dropdown-parent {
	position: relative;
}

.dropdown-parent:hover .dropdown {
	background-color: white;
	display: block;
}

.opener {
	background-color: transparent;
	height: 10vh;
}

.opener b:hover {
	color: steelblue;
	cursor: pointer;
}

.dropdown li {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.dropdown li a {
	display: flex;
	justify-content: center;
	align-items: center;
	block-size: 0 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #333;
}

.dropdown li a:hover {
	background-color: #f2f2f2;
}

.footer {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #f9f9f9;
}

.footer h2 {
	color: steelblue;
	font-size: 60px;
	min-width: 4em;
}

.footer h3 {
	color: black;
}

.footer a {
	text-decoration: none;
}

.contact {
	padding: 0;
	margin: 0;
}

.footer .row {
	display: flex;
	margin-bottom: 1rem;
	width: auto;
	min-width: 35em;
}

.footer .row .item {
	text-align: left;
	min-width: 18em;
}
