.header {
	height: 10vh;
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 9999;
	border-bottom: solid;
	border-width: 6px;
	border-color: steelblue;
}

.header a {
	color: black;
	text-decoration: none;
}

.header a:hover,
.header a:hover b,
.header a:hover * {
	color: steelblue;
}

.header ul {
	position: absolute;
	right: 0.5vw;
	top: 0;
	line-height: 10vh;
}

.header li {
	background-color: transparent;
	font-size: 16px;
	display: inline;
	margin: 2vh 0;
	padding: 3vh 2vw;
}

.logo b,
.logo strong {
	color: steelblue;
	background-color: inherit;
	font-size: 32px;
	position: absolute;
	left: 8px;
	top: 0;
	line-height: 10vh;
	z-index: 1;
}

.header h2 {
	font-size: 24px;
}

.header h3 {
	font-size: 16px;
}

ul .dropdown {
	display: none;
	width: auto;
	min-width: 6em;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: white;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	padding: 0;
	margin: 0;
	z-index: 1000;
	border: solid;
	border-width: 2px;
	border-color: #f9f9f9;
}

.dropdown-parent {
	position: relative;
}

.dropdown-parent:hover .dropdown {
	background-color: white;
	display: block;
}

.opener {
	background-color: transparent;
	height: 10vh;
}

.opener b:hover {
	color: steelblue;
}

.dropdown li {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.dropdown li a {
	display: flex;
	justify-content: center;
	align-items: center;
	block-size: 0 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #333;
}

.dropdown li a:hover {
	background-color: #f2f2f2;
}

.footer {
	display: block;
	width: 100%;
	height: auto;
	margin: 2vh 2vw;
	text-align: center;
	background-color: #f9f9f9;
}

.footer h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 0;
	color: steelblue;
	font-size: 36px;
	margin-bottom: 2vh;
}

.footer h3 {
	font-size: 26px;
	margin-bottom: 0.5em;
}

.footer a {
	text-decoration: none;
}

.footer li {
	font-size: 16px;
}

.footer .row {
	display: flex;
	flex-direction: column;
	width: auto;
	min-width: 18em;
	text-align: center;
	padding: 0;
	margin: 0;
}

.footer .row .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0.5em;
}
